@import "~susy/sass/susy";


.c-client-list {
    display: block;
    margin-left: 0;
}

.c-client-list__item {
    list-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: solid 1px #ddd;
    min-height: 200px;
    max-height: 250px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    position: relative;
    transform: scale(1);
    @include gallery(4 of 12);
    @media (min-width: 768px) {
        @include gallery(2 of 12);
    };
    img {
        margin-bottom: -10px;
        cursor: pointer;
    }

    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity 1500ms ease-in;
    }
    &-nav {
        margin-bottom: 15px;
        position: absolute;;
        bottom: 10px;
        @media (min-width: 768px) {
            bottom: 0px;
        };
        a {
            width: span(2 of 4);
            display: inline-block;
        }
    }
}

.hide {
    display: none !important
}
.c-news-list {
    margin: 0;
    padding-left: 0;
    &__item {
        list-style: none;
        display: block;
        min-height: 230px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        margin: 10px 0 0 10px;
        padding: 5px;
        border: solid 1px #ddd;
        overflow: hidden;
    }
    &__image {
        width: span(1 of 3);
        float: left;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__main-text {
        width: span(2 of 3);
        float: left;
        padding: 10px;
    }
}
