@import "~susy/sass/susy";


.c-client-list {
    margin: 20px;
    margin-left: 0;
    float: left;
    width: container();
}

.c-client-list__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: solid 1px #ddd;
    display: table-cell;
    margin-bottom: 10px;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-direction: normal;
    @include gallery(4 of 12);
    @media (min-width: 768px) {
        @include gallery(2 of 12);
    };
    img {
        margin-bottom: -10px;
        cursor: pointer;
    }

    &-nav {
        margin-bottom: 15px;
        a , span{
            width: span(2 of 4);
            display: inline-block;
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hide {
    display: none !important
}
.c-news-list {
    margin: 0;
    padding-left: 0;
    margin: 10px auto;
    width: span(5 of 12);
    @media (max-width: 900px) {
        width: span(10 of 12);
    }
    &__item {
        list-style: none;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-align: left;
        background-color: white;
        border-radius: 10px;
        margin: 10px auto;
        padding: 5px;
        border: solid 1px #ddd;
        overflow: hidden;
        width: 100%;
    }
    &__image {
        width: span(1 of 3);
        float: left;
        height: 100px;
        margin-top: 5px;
        img {
            width: auto;
            max-height: 100%;
        }
    }
    &__main-text {
        width: span(2 of 3);
        float: left;
        padding: 10px;
        h2 {
            margin: 0;
        }
    }
}
