@import "~susy/sass/susy";

.c-main-navigation {
    width: container(8);
    text-align: center;
    overflow: hidden;
    position: relative;
    overflow: visible;
    &__link-list {
        display: block;
        overflow: hidden;
        padding: 20px 0;
    }
    &__link-item {
        width: span(1 of 8);
        font-size: 1.1em;
        display: inline-block;
        text-align: center;
        a,
        a:active,
        a:visited {
            font-family: 'Montserrat', sans-serif;
            color: #333;
            text-decoration: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
