@import "~susy/sass/susy";

.c-main-navigation {
    width: container(4);
    border-bottom: white 1px solid;
    background-color: #eee;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    overflow: visible;

    &__link-item {
        @include span(1 of 4);
        float: left;
        display: inline;
        a,
        a:active,
        a:visited {
            font-family: 'Open Sans Condensed', sans-serif;
            color: #333;
            text-decoration: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__mob-menu {
        position: absolute;
        left: 5px;
        top:5px;
        z-index: 11;
        cursor: pointer;
    }
    &__link-list {
        position: absolute;;
        top:0;
        z-index: 10;
        background-color: lightgrey;
        width: 300px;
        padding-top: gutter();
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        border-right: 1px solid white;
        &.menu-enter {
            left: -300px;
        }
        &.menu-enter-active.menu-enter {
            left: 0;
            transition: left 200ms ease-in;
        }
        &.menu-leave {
            left: 0;
        }
        &.menu-leave-active.menu-leave {
            left: -300px;
            transition: left 200ms ease-out;
        }
    }
    &__link-item {
        width: span(4);
        font-size: 30px;
    }
}
