@import "~susy/sass/susy";
@import "~normalize-css/normalize";



@import "./config.scss";

img {
    width: 100%;
}

body {
    background-attachment: fixed;
    width: container(12);
}

.e-logo {
    width: 400px;
    display: block;
    margin-top: -1px;
    background-color: white;
    padding: 5px;
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
        width: span(8);
        margin: 0 auto;
    }
}
.container {
    min-height: 900px;
    @media (min-width: 950px) {
        width: span(12);
    }
    margin: 0 auto;
    overflow: hidden;
}

.c-main-content {
    width: span(10);
    margin: 0 auto;
    display: block;
    overflow: hidden;
    padding: 0px 10px;

    @media (max-width: 768px) {
        padding: 0;
        width: span(11);
    }
}

.c-content-module {
    background-color: white;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    margin:20px;
    padding: 25px;
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: 768px) {
        margin: 5px;
        padding: 5px;
    }
}


/* Typeography */

h1,h2,h3,h4 {
    font-family: 'Montserrat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.5em auto;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.5em auto;
}
