@import "~susy/sass/susy";
@import "~normalize-css/normalize";



@import "./config.scss";

img {
    width: 100%;
}

body {
    background-attachment: fixed;
    width: container(12);
}

.e-logo {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: -1px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: solid 1px #dddddd;
    padding: 5px;
    position: relative;
    z-index: 2;
}
.container {
    width: span(12);
    min-height: 900px;
    @media (min-width: 950px) {
        width: span(10);
    }
    margin: 0 auto;
    overflow: hidden;
}

.c-main-content {
    display: block;
    overflow: hidden;
    padding: 0px 10px;
}

.c-content-module {
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: solid 1px #dddddd;
    padding: 25px;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}


/* Typeography */

h1,h2,h3,h4 {
    font-family: 'Italianno', cursive;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    margin: 0.5em auto;
}

h2 {
    font-size: 2em;
    margin: 0.5em auto;
}
